body {
    background-color: rgb(150, 50, 50);
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
    text-align: center;
}

#container {
    max-width: 1400px;
  margin: 0 auto;
}

#numbers-area {
display: inline-block;
  border: 2px solid rgb(238, 240, 151);
  padding: 8px;
  border-radius: 5px;
  max-width: 1400px;
}
.number {
    border-radius: 5px;
  text-align: center;
  font-size: 25px;
  margin: 3px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border: 2px solid rgb(207, 216, 33);
  display: inline-block;
  cursor: pointer;
}

#drawNumber {
    
    margin: 0 auto;
    padding-top: 20px;
}

button {
    font-weight: bold;
    height: 50px;
    width: 100px;
    
}

